.featured-magazine {
  padding: calc(30px + 72px) 20px 30px;
  background: var(--bg-color);
}

.featured-magazine .group-title {
  font-size: var(--big-sizing);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  span {
    transition: all 0.5s ease;
    transform: scale(1);
  }

  &:hover {
    span {
      transform: scale(1.2) translateX(5px);
    }
  }
}

.featured-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 2rem;
  align-items: start;
  font-size: var(--normal-sizing);
}

.section-rubrique {
  .group-title {
    font-size: var(--h1-sizing);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      transition: all 0.5s ease;
      transform: scale(1);
    }

    &:hover {
      span {
        transform: scale(1.2) translateX(5px);
      }
    }
  }

  .scroll-button {
    font-size: var(--h3-sizing);
    white-space: nowrap;

    i {
      cursor: pointer;
    }
  }
}

/* IMAGE */

.featured-image img {
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* TEXTE */

.featured-text {
  padding-top: 3rem;
}

.featured-text .tag {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: var(--h2-sizing);
}

.featured-text h3 {
  margin: 15px 0;
}

.featured-text p {
  color: #475569;
  margin-bottom: 15px;
  font-size: var(--normal-sizing);
}

.featured-text ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.featured-text li {
  margin-bottom: 8px;
}

/* BUTTON */

.btn {
  background: #0f172a;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .featured-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .featured-text {
    margin-top: 0;
  }
  .featured-magazine {
    padding: 80px 20px;
    background: var(--bg-color);
  }
}
