.featured-magazine {
  padding: calc(30px + 72px) 20px 30px;
  background: var(--bg-color);
}

.featured-magazine .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;

  .section-title-text {
    font-size: var(--h1-sizing);
    text-transform: capitalize;
  }

  .btn {
    font-size: var(--normal-sizing);
  }
}

.featured-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  font-size: var(--normal-sizing);
}

/* IMAGE */

.featured-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* TEXTE */

.featured-text {
}

.featured-text .tag {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: var(--h3-sizing);
}

.featured-text h3 {
  font-size: var(--h3-sizing);
  margin: 15px 0;
}

.featured-text p {
  color: #475569;
  margin-bottom: 15px;
}

.featured-text ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.featured-text li {
  margin-bottom: 8px;
}

/* BUTTON */

.btn {
  background: #0f172a;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .featured-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .featured-text {
    margin-top: 0;
  }
  .featured-magazine {
    padding: 80px 20px;
    background: var(--bg-color);
  }
}

@media screen and (max-width: 425px) {
  .featured-magazine .section-title {
    justify-content: center;
    .btn {
      display: none;
    }
  }
}
