* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

:root {
  /* Colors */
  --primary-color: #001d44;
  --secondary-color: #442700;
  --tertiary-color: #3f4400;
  --bg-color: #f1f5f9;
  --second-bg-color: #0f172a;
  --black: #000;
  --white: #fff;

  --sport-color: red;
  --politique-color: indigo;
  --economie-color: green;
  --societe-color: yellowgreen;
  --culturestyle--color: blue;

  /* Sizing */
  font-size: 62.5%;
  --big-sizing: clamp(
    3.2rem,
    1.7208413001912046vw + 2.6493307839388143rem,
    5rem
  );
  --normal-sizing: clamp(
    1.4rem,
    0.5736137667304015vw + 1.2164435946462715rem,
    2rem
  );
  --h1-sizing: clamp(2.6rem, 1.338432122370937vw + 2.1717017208413rem, 4rem);
  --h2-sizing: clamp(2rem, 1.338432122370937vw + 1.5717017208413002rem, 3.4rem);
  --h3-sizing: clamp(1.6rem, 1.338432122370937vw + 1.1717017208413003rem, 3rem);
  --section-title: clamp(
    1.8rem,
    0.3824091778202677vw + 1.6776290630975144rem,
    2.2rem
  );
}

img,
video,
picture {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

canvas {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

section {
  padding: 6rem 2rem 2rem;
}

body {
  font-size: 1.6rem;
}
