@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  outline: none;
}

:root {
  /* Colors */
  --primary-color: #001d44;
  --secondary-color: #442700;
  --tertiary-color: #3f4400;
  --bg-color: #f1f5f9;
  --second-bg-color: #0f172a;
  --black: #000;
  --white: #fff;

  --sport-color: red;
  --politique-color: indigo;
  --economie-color: green;
  --societe-color: yellowgreen;
  --culturestyle--color: blue;

  /* Sizing */
  font-size: 62.5%;

  --big-sizing: clamp(
    1.8rem,
    0.45454545454545453vw + 1.6545454545454548rem,
    2.2rem
  );

  --h1-sizing: clamp(
    1.6rem,
    0.22727272727272727vw + 1.5272727272727273rem,
    1.8rem
  );
  --h2-sizing: clamp(
    1.4rem,
    0.3409090909090909vw + 1.2909090909090908rem,
    1.7rem
  );
  --h3-sizing: clamp(1.6rem, 1.338432122370937vw + 1.1717017208413003rem, 3rem);

  --normal-sizing: clamp(
    1.1rem,
    0.22727272727272727vw + 1.0272727272727273rem,
    1.3rem
  );

  /* fonts */
  --font1: 'Roboto', sans-serif;
  --font2: 'Merriweather', serif;
}

img,
video,
picture {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
}

canvas {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

section {
  padding: 6rem 2rem 2rem;
  background-color: inherit;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

body {
  font-size: 1.6rem;
  font-family: var(--font2);
  line-height: 1.6;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-family: var(--font2);
  font-size: var(--h1-sizing);

  h2 {
    text-transform: uppercase;
    font-size: var(--h2-sizing);
    white-space: nowrap;
  }

  .btn {
    text-transform: uppercase;
    font-size: var(--normal-sizing);
    padding: 10px 20px;
    color: #333;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
    }
  }
}
