.indications {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--normal-sizing);
  padding-block: 1rem;
  font-style: oblique;
  text-transform: capitalize;
}

span.sports {
  color: var(--sport-color);
}

span.economie {
  color: var(--economie-color);
}

span.politique {
  color: var(--politique-color);
}

span.societe {
  color: var(--societe-color);
}

span.culturestyle {
  color: var(--culturestyle-color);
}
